name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '18.12.1'
      - name: Install modules
        run: yarn
      - name: Run lint
        run: yarn lint
      - name: Run tests
        run: yarn test --passWithNoTests
